/* ---------- Variables ---------- */

:root {
    --background-color: #BBBFCA;
    --grid-color: #E8E8E8;
    --cell-color: #F4F4F2;
}

/* ---------- Document ---------- */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
}
body {
    background-color: var(--background-color);
    user-select: none;
}

/* ---------- Grid ---------- */

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#grid {
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(10, 1fr);
    gap: 0.3vh;

    background-color: var(--grid-color);
    padding: 0.6vh;
}
#grid > div {
    width: 4vh;
    height: 4vh;
    background-color: var(--cell-color);
}

/* ---------- Cells ---------- */

#grid > div.I {
    background-color: cyan;
}
#grid > div.J {
    background-color: blue;
}
#grid > div.L {
    background-color: orange;
}
#grid > div.O {
    background-color: yellow;
}
#grid > div.S {
    background-color: green;
}
#grid > div.T {
    background-color: magenta;
}
#grid > div.Z {
    background-color: red;
}