/* ---------- VARIABLES ---------- */

:root {
    --background-color: #BBBFCA;
    --grid-color: #E8E8E8;
    --cell-color: #F4F4F2;
}

/* ---------- PAGE ---------- */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
}
body {
    background-color: var(--background-color);
    user-select: none;
}