/* ---------- TETRAMINO ---------- */

#grid > div.I {
    background-color: cyan;
}
#grid > div.J {
    background-color: blue;
}
#grid > div.L {
    background-color: orange;
}
#grid > div.O {
    background-color: yellow;
}
#grid > div.S {
    background-color: green;
}
#grid > div.T {
    background-color: magenta;
}
#grid > div.Z {
    background-color: red;
}