/* ---------- GRID ---------- */

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#grid {
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(10, 1fr);
    gap: 0.3vh;

    background-color: var(--grid-color);
    padding: 0.6vh;
}
#grid > div {
    width: 4vh;
    height: 4vh;
    background-color: var(--cell-color);
}